body {
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  background-color: #e5e5e5;
  width: 1200px;
  margin: 0 auto;
}
.content {
  background-color: #ffffff;
}

.project_title {
  font-size: 45px;
  color: blue;
}

.about {
  background-color: yellow;
}

.projects {
  background-color: chocolate;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 60px;
  margin-right: 90px;
  /* отступы снаружи */
}
.work {
  background-color: cyan;
  padding: 100px 20px 50px 40px;
  /* отступы внутри */
}
/* .studies {
  background-color: darkblue;
} */
.sidebar {
  background-color: #1e2939;
}
